$image-input-cammel-case-width: 166px;
$image-input-cammel-case-height: 23px;

//noinspection CssInvalidPseudoSelector
:export {
  imageInputCammelCaseWidth: 166px;
  imageInputCammelCaseHeight: 23px;
}
